extends ../../layouts/defaults.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug



block content 
    .container.my-3 
        .row 
            .col-12 
                +box-head(title)
        
        +product-grid(products)