mixin form-search(keyword)
   form(id="form-search")
    .input-group 
        input(type="text" name="keyword" placeholder="Nhập từ khóa" class="form-control" value=keyword)
        button(class="btn btn-success" type="submit") Tìm