mixin alert-success(time) 
  if messages.success
    .auth-alert.auth-alert--success(show-alert)
      div(class="alert alert-success alert-dismissible fade show" role="alert" data-bs-dismiss="alert" data-time=time)
        | !{messages.success}
        button.btn-close(type="button" data-bs-dismiss="alert" aria-label="Close")

mixin alert-error(time) 
   if messages.error
    .auth-alert.auth-alert--error(show-alert)
      div(class="alert alert-danger alert-dismissible fade show" role="alert" data-bs-dismiss="alert" data-time=time)
        | !{messages.error}
        button.btn-close(type="button" data-bs-dismiss="alert" aria-label="Close")
