extends ../../layouts/auth.pug
include ../../mixins/alert.pug

block content
  +alert-error(2000)
  .container
    .d-flex.justify-content-center.align-items-center.min-vh-100
      .col-md-6.col-lg-4
        .card.shadow-lg.border-0.rounded-4.p-4
          .card-body
            h3.text-center.text-primary.fw-bold.mb-4 Forgot your password?

            form(action="/user/password/forgot" method="POST")
              .mb-3
                label.form-label(for="email") Email address
                input#email.form-control.rounded-pill.p-3(type="email" name="email" placeholder="you@example.com" required)

              .d-grid
                button.btn.btn-primary.rounded-pill.p-2.mt-2(type="submit") Send Reset Link

            .text-center.mt-3
              a.text-decoration-none.text-secondary.fs-6(href="/user/auth") ← Back to Login
