extends ../../layouts/auth.pug
include ../../mixins/alert.pug

block content
  +alert-error(2000)
  body.bg-light
    .container
      .d-flex.justify-content-center.align-items-center.min-vh-100
        .col-md-6.col-lg-4
          .card.shadow-lg.border-0.rounded-4.p-4
            .card-body
              h3.text-center.text-primary.fw-bold.mb-4 Đặt lại mật khẩu mới

              form(action="/user/password/reset" method="POST" autocomplete="off")
                input(type="hidden" name="email" value=email)

                .mb-3
                  label.form-label(for="password") Mật khẩu mới
                  input#password.form-control.rounded-pill.p-3(type="password" name="password" placeholder="Nhập mật khẩu mới" required)

                .mb-3
                  label.form-label(for="confirmPassword") Xác nhận mật khẩu mới
                  input#confirmPassword.form-control.rounded-pill.p-3(type="password" name="confirmPassword" placeholder="Nhập lại mật khẩu mới" required)

                .d-grid
                  button.btn.btn-primary.rounded-pill.p-2.mt-2(type="submit") Đặt lại mật khẩu

              .text-center.mt-3
                a.text-decoration-none.text-secondary.fs-6(href="/login") ← Quay lại đăng nhập
