doctype html
html(lang="en")
  head
    title 404 NOT FOUND
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(name="color-scheme", content="light only")
    meta(name="description", content="The request page could not be found.")
    meta(property="og:site_name", content="404 NOT FOUND")
    meta(property="og:title", content="404 NOT FOUND")
    meta(property="og:type", content="website")
    meta(property="og:description", content="The request page could not be found.")
    link(href="https://fonts.googleapis.com/css2?display=swap&family=Space+Mono:ital,wght@0,400;1,400", rel="stylesheet", type="text/css")
    link(rel="icon", type="image/png", href="https://res.cloudinary.com/dntwqb6kj/image/upload/v1749989860/favicon_q6dtif.png")
    link(rel="apple-touch-icon", href="https://res.cloudinary.com/dntwqb6kj/image/upload/v1749989860/apple-touch-icon_khxeqp.png")
    link(rel="stylesheet", href="css/404/main.css")
    noscript
      link(rel="stylesheet", href="css/404/noscript.css")
  body(class="is-loading")
    #wrapper
      #main
        .inner
          #columns01.container.default
            .wrapper
              .inner
                #image01.image
                  span.frame
                    img(src="https://res.cloudinary.com/dntwqb6kj/image/upload/v1749989860/image01_pwuxp7.svg", alt="")
                h1#text03 ERROR 404
                h2#text06 Sorry, the page you requested could not be found. Please make sure you are typing the URL correctly and try again. If you still receive this error, please contact the site administrator.
                ul#buttons01.buttons
                  li
                    a.button.n01(href="javascript:history.back();") back to the Website I came from
          #columns02.container.default
            .wrapper
              .inner
                p#text05
                  em Graphics from ???
          p#text02 𝓲 Made with Love by Shyzz - 
            a(href="#") Download this Template here(u can't)
    script(src="js/404.js")
